<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.product.add}">상품등록</title>
    <link rel="stylesheet" href="" th:href="@{/css/common.css}">
</head>
<body>
<!--응답 메시지 바디에서 사용되어 화면에 렌더링 해주는 아이-->
    <div class="wrap">
        <h3 th:text="#{title.product.add}">상품등록</h3>
        <div>
            <form name="frm" action="" method="post" th:object="${saveForm}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
                </div>
                <div>
                    <label for="" th:text="#{label.product.pname}">상품명</label>
                    <input type="text" name="pname" th:field="*{pname}" minlength="2" maxlength="10">
<!--                    오류메시지-->
<!--                    inline label을 사용해야해서 span-->
                    <span class="field-error"></span>
<!--                    에러가 났을때만 렌더링-->
                    <span class="field-error" th:errors="*{pname}"></span>
                </div>
                <div>
                    <label for="" th:text="#{label.product.quantity}">수량</label>
                    <input type="text" name="quantity" th:field="*{quantity}" minlength="1" maxlength="10">
                    <span class="field-error"></span>
                    <span class="field-error" th:errors="*{quantity}"></span>
                </div>
                <div>
                    <label for="" th:text="#{label.product.price}">가격</label>
                    <input type="text" name="price" th:field="*{price}" maxlength="10">
                    <span class="field-error"></span>
                    <span class="field-error" th:errors="*{price}"></span>
                </div>
                <div>
                    <button type="submit" th:text="#{button.add}" id="btnAdd">등록</button>
                    <button type="button" th:text="#{button.list}" onclick="globalThis.location.href='/products'">목록</button>
                </div>
            </form>
        </div>
    </div>
<script>
    const $btnAdd = document.getElementById('btnAdd');
    const add_h = e => {
        e.preventDefault(); //기본 이벤트 막기
        //검증 form 객체에 id값or name값 부여
        //const frm = document.forms['frm'];
        if(pname.value.trim().length == 0){
            //alert('상품명을 입력하시게');
            const msg = '상품명을 입력하시게';
            pname.nextElementSibling.textContent = msg;
            //alert(pname.nextElementSibling);
            pname.focus();
            return;
        }
        //타입 검증
        if(quantity.value.trim().length == 0){
            //alert('수량을 입력하시게');
            const msg = '수량을 입력하시게';
            quantity.nextElementSibling.textContent = msg;
            quantity.focus();
            return;
        }

        const regExp = /[^0-9]/g;
        if(!regExp.test(quantity.value)){
            //alert('공짜인겐가');
            const msg = '숫자를 너으시게....';
            price.nextElementSibling.textContent = msg;
            price.focus();
            return;
        }

        if(!regExp.test(price.value)){
            const msg = '공짜인겐가 가격을 너으시게....';
            price.nextElementSibling.textContent = msg;
            price.focus();
            price.selected();
            return;
        }

        //if(price.value.trim().length == 0){
        //    const msg = '공짜인겐가 가격을 너으시게....';
        //    price.nextElementSibling.textContent = msg;
        //    price.focus();
        //    return;
        //}


        //전송
        //document.forms['frm'].submit();
        frm.submit();


        //접근1) console.log($frm);
        //접근2) console.log(frm).elements['pname'];
    }
    $btnAdd.addEventListener('click', add_h, false);
</script>
</body>
</html>